<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.slkj.cdtaxt.mapper.CyryMapper">
	<sql id="zfry_sql_temp">
		id, cyxm,cyxb,sfzh,cyzgzh,zccl,chexing,ssgs,zhuangtai,isdie,sqsj
	</sql>
	<select id="getCyryAll" resultType="Cyry" parameterType="hashmap">
		SELECT * FROM CY_CYRY
		<where>
			<if test="isdie != null and isdie != ''">
				AND ISDIE = #{isdie}
			</if>
		</where>
	</select>
	<insert id="cyrySave" parameterType="Cyry">
		INSERT INTO ZF_ZFYJ (cyxm,cyxb,sfzh,cyzgzh,zccl,chexing,ssgs,zhuangtai)
		VALUES (#{cyxm},#{cyxb},#{sfzh},#{cyzgzh},#{zccl},#{chexing},#{ssgs},#{zhuangtai})
	</insert>
	<update id="cyryUpdate" parameterType="Cyry">
		UPDATE ZF_ZFYJ SET  
			cyxm = #{cyxm},
			cyxb = #{cyxb},
			sfzh = #{sfzh},
			cyzgzh = #{cyzgzh},
			zccl = #{zccl},
			chexing = #{chexing},
			ssgs = #{ssgs},
			zhuangtai = #{zhuangtai}
		WHERE ID =#{id}
	</update>
	<select id="cyryNewList" resultType="Cyry" parameterType="hashmap">
		SELECT * FROM CY_CYRY WHERE CYZGZH  = ''
	</select>
</mapper>