<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.slkj.cdtaxt.mapper.VehicleMapper">
	<sql id="sql_base">
		ID, FileNum, OpretaCertNum, PlateNum, CorpName, 
		OwnerName, OrigOwnerName, OrigPlateNum, EmployPerson,
		 Color, Sign, SealRecord, Address, PhoneNum, IDNumber,
		  OwnerChange, DrvLicenseDate, VehicleInspRec, OwnerNamePic,
		   VehiclePic, TonsSeat, CarLen, CarWidth, CarHigh, FrameNumber,
		    EngineNumber, ADDTIME, CheckDate, TransferDate
	</sql>

	<select id="getAllList" resultType="Vehicle">
		SELECT
		<include refid="sql_base"></include>
		FROM TB_TAXICAR
		<where>
			<if test="PlateNum != null and PlateNum != ''">
				AND PlateNum LIKE '%'+#{PlateNum}+'%'
			</if>
			<if test="OpretaCertNum != null and OpretaCertNum != ''">
				AND OpretaCertNum LIKE '%'+#{OpretaCertNum}+'%'
			</if>
			<if test="OrigOwnerName != null and OrigOwnerName != ''">
				AND OrigOwnerName LIKE '%'+#{OrigOwnerName}+'%'
			</if>
		</where>
	</select>
	<select id="queryOne" parameterType="hashmap" resultType="Vehicle">
		SELECT
		<include refid="sql_base"></include>
		FROM TB_TAXICAR
		<where>
			<if test="id != null and id != ''">
				AND ID = #{id}
			</if>
			<if test="PlateNum != null and PlateNum != ''">
				AND PlateNum LIKE '%'+#{PlateNum}+'%'
			</if>
		</where>
	</select>

	<insert id="save" parameterType="Vehicle">
		INSERT INTO TB_TAXICAR (
		FileNum, OpretaCertNum, PlateNum, CorpName, OwnerName, 
		OrigOwnerName, OrigPlateNum, EmployPerson, Color, Sign, 
		SealRecord, Address, PhoneNum, IDNumber, OwnerChange, 
		DrvLicenseDate, VehicleInspRec, OwnerNamePic, VehiclePic, 
		TonsSeat, CarLen, CarWidth, CarHigh, FrameNumber, EngineNumber,
		 ADDTIME, CheckDate, TransferDate
		)
		VALUES
		(
		#{fileNum},#{opretaCertNum},#{plateNum},#{corpName},#{ownerName} 
		,#{origOwnerName},#{origPlateNum},#{employPerson},#{color},#{sign}, 
		#{sealRecord},#{address},#{phoneNum},#{iDNumber},#{ownerChange}, 
		#{drvLicenseDate},#{vehicleInspRec},#{ownerNamePic},#{vehiclePic}, 
		#{tonsSeat},#{carLen},#{carWidth},#{carHigh},#{frameNumber},#{engineNumber},
		 getdate(),#{checkDate},#{transferDate}		
		)
	</insert>

	<update id="edit" parameterType="Vehicle">
		UPDATE TB_TAXICAR SET
		FileNum=#{fileNum}, opretaCertNum=#{opretaCertNum}, PlateNum=#{plateNum},
		 CorpName=#{corpName}, OwnerName=#{ownerName}, OrigOwnerName=#{origOwnerName},
		  OrigPlateNum=#{origPlateNum}, EmployPerson=#{employPerson}, Color=#{color}, 
		  Sign=#{sign}, SealRecord=#{sealRecord}, Address=#{address}, PhoneNum=#{phoneNum},
		   IDNumber=#{iDNumber}, OwnerChange=#{ownerChange}, DrvLicenseDate=#{drvLicenseDate},
		    VehicleInspRec=#{vehicleInspRec}, OwnerNamePic=#{ownerNamePic}, VehiclePic=#{vehiclePic}, 
		TonsSeat=#{tonsSeat}, CarLen=#{carLen}, CarWidth=#{carWidth}, CarHigh=#{carHigh},
		 FrameNumber=#{frameNumber}, EngineNumber=#{engineNumber}, ADDTIME=#{aDDTIME}, 
		 CheckDate=#{checkDate}, TransferDate=#{transferDate}
		WHERE ID = #{ id }
	</update>

	<select id="getBarData" parameterType="hashmap" resultType="TotalNum">

		SELECT e.compname as week, count(e.compname) as count
		FROM tb_vehicle_taxt d,company e
		WHERE d.customerType=e.compcode group by e.compname

	</select>

	<select id="queryByCom" parameterType="hashmap" resultType="TotalNum">

		SELECT e.compname as week, count(e.compname) as count
		FROM tb_vehicle_taxt d,company e
		WHERE d.customerType=e.compcode group by e.compname

	</select>
	<select id="queryByCarType" parameterType="hashmap" resultType="TotalNum">

		SELECT e.[value] as week,count(e.[value]) as count
		FROM tb_vehicle_taxt d,FromCode e
		WHERE d.carBrand=e.[key]
		and e.lookupCode='VEHICLE_CARTYPE'
		group by e.[value]

	</select>

</mapper>